@* addCriminal Template File *@
@criminal("Add Criminal"){
	<!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Edit Profile
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                          <img alt="300x200" src="img/profile.png">
                          
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <form class="form-horizontal">
                          <h5>
                            Basic Information
                          </h5>
                          <hr>
                          <div class="form-group">
                            <label for="userName" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="userName" placeholder="Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="location" class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" rows="5"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="webUrl" class="col-sm-3 control-label">Date of Birth</label>
                            <div class="col-sm-9">
                              <input type="url" class="form-control" id="webUrl" placeholder="Website Url">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="webUrl" class="col-sm-3 control-label">Finger Print</label>
                            <div class="col-sm-9">
                               <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="webUrl" class="col-sm-3 control-label">National ID</label>
                            <div class="col-sm-9">
                               <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                          </div>
                          <div class="form-actions">
                            <button type="submit" class="btn btn-info pull-right">
                              Save changes
                            </button>
                          </div>
                          
                          <br />
                          <h5>
                            Others Information
                          </h5>
                          <hr>
                          <div class="form-group">
                            <label for="userName" class="col-sm-3 control-label">Education</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="userName" placeholder="Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="location" class="col-sm-3 control-label">Nationality</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="webUrl" class="col-sm-3 control-label">Online Profile</label>
                            <div class="col-sm-9">
                              <input type="url" class="form-control" id="webUrl" placeholder="Website Url">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="webUrl" class="col-sm-3 control-label">Bank Account</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                          </div>
                          <div class="form-actions">
                            <button type="submit" class="btn btn-info pull-right">
                              Save changes
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <div class="list-group no-margin">
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-facebook fa-3x text-facebook"></i>
                  </span>
                  <h4 class="list-group-item-heading">2,239</h4>
                  <p class="list-group-item-text">Shares</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-twitter fa-3x text-twitter"></i>
                  </span>
                  <h4 class="list-group-item-heading">7,689</h4>
                  <p class="list-group-item-text">Tweets</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-envelope fa-3x text-success"></i>
                  </span>
                  <h4 class="list-group-item-heading">1,532</h4>
                  <p class="list-group-item-text">Mails</p>      
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-user fa-3x text-warning"></i>
                  </span>
                  <h4 class="list-group-item-heading">8710</h4>
                  <p class="list-group-item-text">Users</p>      
                </a>
              </div>
            </div>
            
            <hr>
            
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @@srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @@prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @@arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @@gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @@boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <!-- Right Sidebar End -->

        </div>
        <!-- Dashboard Wrapper End -->
}